Repository fuchicorp/common_tools, pull requests merged in 2020-05, with the labels that each got.

#130 old vault and ingress for vault removed, vault helm added.
  charts/main-helm/templates/google_k8s_service_ingress.yaml
  charts/main-helm/values.yaml
  charts/vault/Chart.yaml
  charts/vault/values.yaml
  google_k8s_service_ingress_module.tf
  google_k8s_service_vault.tf
  main_outputs.tf
  terraform_templates/output.txt
  variables.tf
Labels: DevOps Bug

#132 Created jenkins job for common tools
  JenkinsDeployer.groovy
  google_k8s_external_dns_module.tf
  set-env.sh
  variables.tf
Labels: Jenkins, Terraform

#136 upgrated git version
  charts/jenkins/values.yaml
Labels: DevOps Feature, Jenkins

#140 whitelisted ips on nexus
  charts/sonatype-nexus/values.yaml
  google_k8s_service_nexus_module.tf
  variables.tf
Labels: DevOps Feature, Nexus

#141 Added the Whitelisted ip
  variables.tf
Labels: Nexus

#134 pluggings are added with versions
  charts/jenkins/values.yaml
  google_k8s_service_jenkins_official_module.tf
Labels: DevOps Feature, Jenkins

#144 Feature/job
  charts/jenkins/values.yaml
Labels: Bastion, Jenkins

#146 Fixed issue with onboarding members to Jenkins
  charts/jenkins/values.yaml
Labels: DevOps Feature, Groovy, Jenkins

#147 fixed issue with ${ }
  charts/jenkins/values.yaml
Labels: DevOps Bug

#149 Fixed init script for Jenkins
  charts/jenkins/templates/config.yaml
Labels: Jenkins, Terraform

#150 Fixed issue with init script
  charts/jenkins/values.yaml
Labels: DevOps Bug, Groovy, Jenkins

#145 sonarqube chart created
  charts/sonarqube/.helmignore
  charts/sonarqube/Chart.yaml
  charts/sonarqube/README.md
  charts/sonarqube/charts/postgresql/.helmignore
  charts/sonarqube/charts/postgresql/Chart.yaml
  charts/sonarqube/charts/postgresql/README.md
  charts/sonarqube/charts/postgresql/ci/default-values.yaml
  charts/sonarqube/charts/postgresql/ci/shmvolume-disabled-values.yaml
  charts/sonarqube/charts/postgresql/files/README.md
  charts/sonarqube/charts/postgresql/files/conf.d/README.md
  charts/sonarqube/charts/postgresql/files/docker-entrypoint-initdb.d/README.md
  charts/sonarqube/charts/postgresql/templates/NOTES.txt
  charts/sonarqube/charts/postgresql/templates/_helpers.tpl
  charts/sonarqube/charts/postgresql/templates/configmap.yaml
  charts/sonarqube/charts/postgresql/templates/extended-config-configmap.yaml
  charts/sonarqube/charts/postgresql/templates/initialization-configmap.yaml
  charts/sonarqube/charts/postgresql/templates/metrics-configmap.yaml
  charts/sonarqube/charts/postgresql/templates/metrics-svc.yaml
  charts/sonarqube/charts/postgresql/templates/networkpolicy.yaml
  charts/sonarqube/charts/postgresql/templates/prometheusrule.yaml
  charts/sonarqube/charts/postgresql/templates/secrets.yaml
  charts/sonarqube/charts/postgresql/templates/serviceaccount.yaml
  charts/sonarqube/charts/postgresql/templates/servicemonitor.yaml
  charts/sonarqube/charts/postgresql/templates/statefulset-slaves.yaml
  charts/sonarqube/charts/postgresql/templates/statefulset.yaml
  charts/sonarqube/charts/postgresql/templates/svc-headless.yaml
  charts/sonarqube/charts/postgresql/templates/svc-read.yaml
  charts/sonarqube/charts/postgresql/templates/svc.yaml
  charts/sonarqube/charts/postgresql/values-production.yaml
  charts/sonarqube/charts/postgresql/values.schema.json
  charts/sonarqube/charts/postgresql/values.yaml
  charts/sonarqube/requirements.lock
  charts/sonarqube/requirements.yaml
  charts/sonarqube/templates/NOTES.txt
  charts/sonarqube/templates/_helpers.tpl
  charts/sonarqube/templates/config.yaml
  charts/sonarqube/templates/copy-plugins.yaml
  charts/sonarqube/templates/deployment.yaml
  charts/sonarqube/templates/ingress.yaml
  charts/sonarqube/templates/install-plugins.yaml
  charts/sonarqube/templates/pvc.yaml
  charts/sonarqube/templates/secret.yaml
  charts/sonarqube/templates/service.yaml
  charts/sonarqube/templates/serviceaccount.yaml
  charts/sonarqube/templates/tests/sonarqube-test.yaml
  charts/sonarqube/templates/tests/test-config.yaml
  charts/sonarqube/values.yaml
  google_k8s_sonarqube_module.tf
  terraform_templates/output.txt
Labels: DevOps Feature, Helm

#151 Created common-tools job automatically
  charts/jenkins/values.yaml
Labels: Jenkins, Kubernetes, Terraform

#158 Created secret for Nexus
  .docker/config_template.json
  .gitignore
  charts/sonatype-nexus/values.yaml
  google_k8s_nexus_secret.tf
  variables.tf
Labels: DevOps Feature, Kubernetes, Nexus

#159 created helm chart for cert-manager
  charts/cert-manager/Chart.yaml
  charts/cert-manager/README.md
  charts/cert-manager/templates/NOTES.txt
  charts/cert-manager/templates/_helpers.tpl
  charts/cert-manager/templates/cainjector-deployment.yaml
  charts/cert-manager/templates/cainjector-psp-clusterrole.yaml
  charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
  charts/cert-manager/templates/cainjector-psp.yaml
  charts/cert-manager/templates/cainjector-rbac.yaml
  charts/cert-manager/templates/cainjector-serviceaccount.yaml
  charts/cert-manager/templates/crds.legacy.yaml
  charts/cert-manager/templates/crds.yaml
  charts/cert-manager/templates/deployment.yaml
  charts/cert-manager/templates/psp-clusterrole.yaml
  charts/cert-manager/templates/psp-clusterrolebinding.yaml
  charts/cert-manager/templates/psp.yaml
  charts/cert-manager/templates/rbac.yaml
  charts/cert-manager/templates/service.yaml
  charts/cert-manager/templates/serviceaccount.yaml
  charts/cert-manager/templates/servicemonitor.yaml
  charts/cert-manager/templates/webhook-deployment.yaml
  charts/cert-manager/templates/webhook-mutating-webhook.yaml
  charts/cert-manager/templates/webhook-psp-clusterrole.yaml
  charts/cert-manager/templates/webhook-psp-clusterrolebinding.yaml
  charts/cert-manager/templates/webhook-psp.yaml
  charts/cert-manager/templates/webhook-rbac.yaml
  charts/cert-manager/templates/webhook-service.yaml
  charts/cert-manager/templates/webhook-serviceaccount.yaml
  charts/cert-manager/templates/webhook-validating-webhook.yaml
  charts/cert-manager/values.yaml
  google_k8s_cert_manager.tf
  google_k8s_cert_manager_module.tf
  google_k8s_service_ingress_module.tf
Labels: Dev Feature, Helm

#161 Created loop for namesapces and ready to create PR
  google_k8s_namespaces.tf
  google_k8s_nexus_secret.tf
  variables.tf
Labels: DevOps Feature

#163 Fixed secret issue ready to merge
  google_k8s_nexus_secret.tf
  terraform_templates/config_template.json
  variables.tf
Labels: DevOps Bug

#166 I have fixed nexus and outputs
  google_k8s_nexus_secret.tf
  main_outputs.tf
  terraform_templates/output.txt
  variables.tf
Labels: Terraform
