Repository fuchicorp/common_tools, pull requests merged in 2020-06, with the labels that each got.

#168 added sa creds
  google_k8s_nexus_secret.tf
Labels: DevOps Feature

#176 Added Timestamper plugin to Jenkins
  charts/jenkins/values.yaml
Labels: Helm, Jenkins, Terraform

#177 Whitelisting prometheus to for IP ranges
  charts/prometheus-adapter/ingress.yaml
  charts/prometheus/values.yaml
  google_k8s_service_prometheus_module.tf
  variables.tf
Labels: DevOps Documentation, DevOps Feature, Grafana, Prometheus

#182 Gulmira newbranch
  charts/grafana/values.yaml
  google_k8s_service_grafana-module.tf
  variables.tf
Labels: Dev Feature, Grafana, Helm, Kubernetes

#184 Insalled SonarQube plugin in Jenkins
  charts/jenkins/values.yaml
Labels: Jenkins, Terraform

#195 skip false
  charts/kubernetes-dashboard/values.yaml
Labels: DevOps Feature

#189 added Docker Pipeline plugin
  charts/jenkins/values.yaml
Labels: DevOps Feature, Jenkins

#197 Update variables.tf
  variables.tf
Labels: DevOps Feature
